.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 220px;
    
    gap: 16px;
}

.card{
    /* background: url('download.jpg'); */
    /* width: 200px;
    height: 200px; */
    /* background-size: 200px 200px; */
    /* background-repeat: repeat; */
    
    /* border: 2px solid black; */
   
    
    
}

.card:hover>.pdiv{
    background-color: black;
    color: white;
    overlay: ;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.pdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
    /* opacity: 0.2; */
    margin-top: 150px;
    position: absolute;


}

@media screen and (max-width:600px) {
    .cards{
        display: flex;
        flex-direction: column;
    }
}

