 p {
     background-color: blue;
 }
 /* External CSS */

/* --------------------------------------------------- */
/* eg.2
  p {
     background-color: blue;
  
     
h4{
     background-color: blue;
} */

/* --------------------------------------------- */
/* eg.3
p{
    background color:red;
}

p{
    background color:red;
} */
 /* ----------------------------------------- */
