*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-image: url('Assets/universe.jpeg');
    background-repeat: no-repeat;
    background-size: 600px 400px;
    /* height: 100vh; */
    background-position: center;
}
header{
    text-align: center;
    background-color: #fff;
    padding: 15px;
}


.card{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}
img{
    width: 60px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;

}


