body{
    background-color: #bdebf4;
    padding: 40px;
    
}

#mainPage{
    margin: auto;
    border: 2px solid black;
    background-color: white;
    width: 60%;
    
}

#header{
    background-color: aquamarine;
    text-align: center;
    color: rgb(6, 121, 71);
    padding: 4px;
    margin: 10px;
}


#imgSection{
    
    margin: 25px;
}

#infoSection{
    margin: 0px 15px;
    line-height: 26px;
}

#tableSection{
    width: 90%;
    padding: 30px;
}

#tableborder{
    
    width: 100%;
    
}

#tableHeader{
    background-color: aquamarine;
}

#footer{
    margin: 30px;
    
}
.btn{
    background-color: rgb(6, 121, 71);
    margin: 10px;
}
/* table,th,td {
    border: 2px solid;
} */